.header {
  display: flex;
  flex-direction: column;

  &__contacts-bg {
    display: flex;
    justify-content: center;

    background-color: $bg-color-grey-light;
    color: $text-color-grey-light-4;
  }

  &__contacts {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    margin: .5rem 1rem;
    width: 100%;
    max-width: $max-width;
  }

  &__contact {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__contact-icon {
    width: 1.8rem;
    height: 1.8rem;
    fill: $color-primary;
    margin-right: 0.5rem;
  }

  &__contact-link {
    &:link,
    &:visited {
      color: $text-color-grey-light-4;
      font-size: 1.3rem;
      text-decoration: none;
    }

    @include on-event {
      color: currentColor;
      text-decoration: underline;
    }
  }

  &__social {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  &__navigation-bg {
    display: flex;
    justify-content: center;

    background-color: $color-white;
    color: $text-color-grey;
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 2rem 1rem;
    width: 100%;
    max-width: $max-width;
  }

  &__logo {
    width: 28.5rem;
  }

  &__navigation-list {
    display: flex;

    list-style: none;
  }

  &__navigation-item {
    position: relative;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__navigation-link {
    &:link,
    &:visited {
      text-transform: uppercase;
      display: block;
      padding: 2rem 0;
      font-size: 1.4rem;
      color: currentColor;
      transition: all .2s;
    }

    &--active:link,
    &--active:visited {
      color: $color-primary;
    }

    @include on-event {
      text-decoration: none;
      color: $color-primary;
    }
  }

  &__navigation-link:hover + &__navigation-sublist,
  &__navigation-sublist:hover {
    opacity: 1;
    visibility: visible;
  }

  &__navigation-sublist {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: $color-white;
    list-style: none;
    width: 26rem;
    border-radius: 2px;
    box-shadow: 0 2rem 3rem rgba($color-black, .25);
    transform: translateY(-1rem);
    transition: all .5s;
  }

  &__navigation-subitem {
    &:first-child {
      border-top: 3px solid $color-primary;
    }
  }

  &__navigation-divider {
    height: 1px;
    background-color: rgba($color-black, .1);
  }

  &__navigation-sublink {
    &:link,
    &:visited {
      display: block;
      padding: .6rem 1rem;
      font-size: 1.3rem;
      color: $text-color-grey;
      transition: all .2s;
    }

    @include on-event {
      text-decoration: none;
      background-color: $text-color-grey-light-1;
      color: $color-primary;
    }
  }

  &__quote-bg {
    display: flex;
    justify-content: center;

    background-color: $color-primary;
    color: $color-white;
  }

  &__quote {
    display: flex;
    justify-content: center;

    width: 85%;
    max-width: $max-width;
    margin: 2rem 1rem;
  }

  &__quote-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 3.7rem;
  }

  &__quote-author {
    align-self: flex-end;

    font-size: 1.7rem;
    font-style: normal;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 2.4rem;
  }

  &__hero-bg {
    display: flex;
    justify-content: center;

    border-bottom: 1px solid rgba($color-black, .1);
  }

  &__hero {
    height: 35vw;
    max-height: 50rem;
    width: 100%;
    max-width: 144rem;
    background-image: url("/img/yuridicheskaya-kompaniya-torgova-i-partnyory-home-page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
